<ion-view title="" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="page6-button34" style="left:-10px;font-size:30px;" class=" button button-positive  button-full ">Packing List</button>
        </div>
        <div style="margin-right:-20px;">
            <button id="page6-button31" style="left:-10px;font-size:30px;" class=" button button-positive  button-full ">Property Map</button>
        </div>
        <div style="margin-right:-20px;">
            <button id="page6-button32" style="left:-10px;font-size:30px;" class=" button button-positive  button-full ">Hiking Trail Map</button>
        </div>
        <div style="margin-right:-20px;">
            <button id="page6-button33" style="left:-10px;font-size:30px;" class=" button button-positive  button-full ">Visitor Policy</button>
        </div>
        <div style="margin-right:-20px;">
            <button id="page6-button35" style="left:-10px;font-size:20px;" class=" button button-positive  button-full ">Top 10 List for New Families</button>
        </div>
    </ion-content>
</ion-view>