<ion-view title="" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <a style="display:block;" href="#" onclick="window.open('https://www.facebook.com/uclabruinwoods/?fref=nf', '_system', 'location=yes'); return false;">
                <img src="img/npJx6OeTyCkxBMujcwTi_facebook icon.png" width="35%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h4 id="page7-heading3" style="color:#000000;text-align:center;" class=" ">Facebook</h4>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div class="">
            <a style="display:block;" href="#" onclick="window.open('https://www.instagram.com/bruinwoods/', '_system', 'location=yes'); return false;">
                <img src="img/aFJmIatQQi3gj6atdHIa_instagram.jpg" width="35%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h4 id="page7-heading4" style="color:#000000;text-align:center;" class=" ">Instagram</h4>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <div class="">
            <img src="img/GwbeylKxSjWsZaoH9VCl_gallery.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="page7-heading5" style="color:#000000;text-align:center;" class=" ">Gallery</h4>
    </ion-content>
</ion-view>