<ion-view title="" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="page5-button-bar3" class=" button-bar "></div>
        <div id="page5-button-bar4" class=" button-bar "></div>
        <div id="page5-button-bar5" class=" button-bar ">
            <button id="page5-button38" class=" button button-energized  button-block ">Adult Program</button>
            <button id="page5-button39" class=" button button-positive  button-block ">Kids Program</button>
        </div>
        <h1 id="page5-heading7" style="color:#000000;" class=" ">TODO make custom schedule</h1>
    </ion-content>
</ion-view>