<ion-view title="" id="homepage" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- <a ui-sref="contact" id="home-button24" style="font-weight:lighter;border-radius:20px 20px 20px 20px;" class=" button button-stable  button-icon icon-right ion-android-settings "></a> -->
        <div class="row">
            <canvas id="weatherIcon" width="80dp" height="80dp"></canvas>
            <h1>{{home.weather.currently.temperature}}°</h1>
            <br>
        </div>
        <h3>{{home.weather.hourly.summary}}</h3>
        <div>
            <div id="miniHeader">
                <a ng-click="home.toggleSchedule()" ng-hide="home.schedule" id="schedule" class=" button button-large button-full ">SCHEDULE</a>
            </div>
            <div ng-show="home.schedule" id="flipped">
                <a ng-click="home.toggleSchedule()" class="button button-full scheduleHeader">SCHEDULE</a>
                <div id="scheduleBar">
                    <div class="button-bar">
                        <button id="listItemSchedule" class="button-full">Master Schedule</button>
                        <button id="listItemSchedule" class="button-full ">Kids Schedule</button>
                        <button id="listItemSchedule" class="button-full ">My Schedule</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a ng-click="home.toggleInfo()" ng-hide="home.info" id="info" class="button button-large button-full">INFORMATION</a>
            <div ng-show="home.info" id="flipped1">
                <a ng-click="home.toggleInfo()" class="button button-full infoHeader">INFORMATION</a>
                <div class="containter" id="informationBar">
                    <div class="button-bar">
                        <button id="listItemInfo1" class="button-full">Hiking Trail Map</button>
                        <button id="listItemInfo1" class="button-full">Property Map</button>
                    </div>
                    <div class="button-bar">
                        <button id="listItemInfo2" class="button-full">Packing List</button>
                        <button id="listItemInfo2" class="button-full">Visitor Policy</button>
                        <button id="listItemInfo3" class="button-full">Top 10 List for New Families</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="smallBanner">
                <a ng-click="home.toggleSocial()" id="social" ng-hide="home.social" class=" button button-large button-full ">SOCIAL & PICTURES</a>
            </div>
            <div ng-show="home.social" class="container" id="flipped">
                <a ng-click="home.toggleSocial()" class=" button button-full socialHeader">SOCIAL & PICTURES</a>
                <div class="row" id="socialBar">
                    <div id="facebook">
                        <a href="#" onclick="window.open('https://www.facebook.com/uclabruinwoods/?fref=nf', '_system', 'location=yes'); return false;">
                            <img src="img/facebook.png" class="row-no-padding" width="80%" height="auto" style="display: inline-block; margin: 0px; padding: 0px">
                        </a>
                    </div>
                    <div id="instagram">
                        <a href="#" onclick="window.open('https://www.instagram.com/bruinwoods/', '_system', 'location=yes'); return false;">
                            <div>
                                <img src="img/instagram.png" class="row-no-padding" width="210%" height="auto" style="display: inline-block">
                            </div>
                        </a>
                    </div>
                    <div id="gallery">
                        <img src="img/gallery.png" class="row-no-padding" width="100%" height="auto" style="display: inline-block">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
