<ion-view title="Signup" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form3" class="list ">
            <ion-list id="signup-list1" class=" ">
                <ng-input theme="nariko" label="Email" ng-model="newUser.username" type="text"></ng-input>
                <ng-input theme="nariko" label="Password" ng-model="newUser.password" type="password"></ng-input>
                <ng-input theme="nariko" label="Confirm Password" ng-model="newUser.confirmPassword" type="password"></ng-input>
            </ion-list>
            <a id="signup-button4" class=" button button-stable  button-block " ng-click="signup.signup(newUser)">Sign up</a>
        </form>
        <button id="signup-button5" class=" button button-positive  button-block" ng-click="signup.facebook()">Register with Facebook</button>
        <a ui-sref="login" id="signup-button14" style="color:default;" class=" button button-positive  button-block button-clear ">Already have an account? Log in!</a>
    </ion-content>
</ion-view>
