<ion-view title="Signup" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form3" class="list ">
            <ion-list id="signup-list1" class=" ">
                <label class="item item-input " id="signup-input3">
                    <span class="input-label">Email</span>
                    <input ng-model="newUser.username" type="text">
                </label>
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Password</span>
                    <input ng-model="newUser.password" type="password">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Confirm Password</span>
                    <input ng-model="newUser.confirmPassword" type="password">
                </label>
            </ion-list>
            <a ui-sref="login" id="signup-button4" class=" button button-stable  button-block ">Sign up</a>
        </form>
        <button id="signup-button5" class=" button button-positive  button-block ">Register with Facebook</button>
        <a ui-sref="login" id="signup-button14" style="color:default;" class=" button button-positive  button-block button-clear ">Already have an account? Log in!</a>
    </ion-content>
</ion-view>