<ion-view title="Login" id="page1" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form11" class="list ">
            <ion-list id="login-list7" class=" ">
                <img src="img/NWbPs3vkTn2V9Sf4jJ8Z_BW logo.jpg" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                <div class="spacer" style="width: 300px; height: 14px;"></div>
                <ng-input theme="nariko" type="text" label="Email" ng-model="username"></ng-input>
                <ng-input theme="nariko" type="password" label="Password" ng-model="password"></ng-input>
            </ion-list>
            <a ng-click="login.login(username, password)" id="login-button19" class=" button button-stable  button-block">Log in</a>
            <button id="login-button3" class="button button-block" style="background-color: rgb(33,146,249); color: white" ng-click="login.facebook()">Facebook</button>
            <a ui-sref="signup" id="login-button20" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
