<ion-view title="Contact us" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a href="tel:(909) 337-2478" id="contactUs-button41" style="left:-10px;font-weight:600;text-align:left;" class=" button button-dark button-large button-full button-outline icon ion-ios-telephone ">Phone Number</a>
        </div>
        <div style="margin-right:-20px;">
            <a href="mailto:bwresort@ha.ucla.edu" id="contactUs-button43" style="left:-10px;font-weight:600;text-align:left;" class=" button button-dark button-large button-full button-outline icon ion-android-mail ">Email</a>
        </div>
        <div style="margin-right:-20px;">
            <a href="#" onclick="window.open('https://www.google.com/maps/place/Bruin+Woods/@34.2654857,-117.1889023,17z/data=!3m1!4b1!4m5!3m4!1s0x80c357e64722ffcd:0x6f8ffb662826ded7!8m2!3d34.2654857!4d-117.1867136', '_system', 'location=yes'); return false;"
            id="contactUs-button42" style="left:-10px;font-weight:600;text-align:left;" class=" button button-dark button-large button-full button-outline icon ion-ios-location ">Find us</a>
        </div>
        <div style="margin-right:-20px;">
            <a href="#" onclick="window.open('http://uclaconferencecenter.com/bruinwoods/', '_system', 'location=yes'); return false;" id="contactUs-button44" style="left:-10px;font-weight:600;text-align:left;border-radius:-11px -11px -11px -11px;" class=" button button-dark button-large button-full button-outline icon ion-ios-world ">Website</a>
        </div>
    </ion-content>
</ion-view>