<ion-view title="" id="page4" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="contactUs" id="page4-button24" style="font-weight:lighter;border-radius:20px 20px 20px 20px;" class=" button button-stable  button-icon icon-right ion-android-settings "></a>
        <ion-list id="page4-list9" class=" ">
            <ion-item class="item-thumbnail-left  " id="page4-list-item1">
                <img src="img/KLl4pjKTim9fkw3wgyi0_weather icon.png">
                <h2>Todays Weather</h2>
                <p>hot</p>
            </ion-item>
        </ion-list>
        <div style="margin-right:-20px;">
            <a ui-sref="page5" id="page4-button6" style="left:-10px;color:default;font-size:40px;border-radius:0px 0px 0px 0px;" class=" button button-positive button-large button-full ">Schedule</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="page6" id="page4-button7" style="left:-10px;color:default;font-size:40px;border-radius:0px 0px 0px 0px;" class=" button button-positive button-large button-full ">Info</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="page7" id="page4-button8" style="left:-10px;color:default;font-size:40px;border-radius:0px 0px 0px 0px;" class=" button button-positive button-large button-full ">Social</a>
        </div>
        <div id="page4-button-bar1" class=" button-bar "></div>
    </ion-content>
</ion-view>